.password-input-group {
    display: flex;
    align-items: center;
  }
  
  .password-toggle-icon {
    cursor: pointer;
    margin-left: -30px;
    padding: 5px;
    
  }

  .password-input-group {
    position: relative;
  }

  .SubmitButton{
    padding-top: 20px;
  }  