.reset-password-container {
    height: 100vh;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .reset-password-box {
    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
  }
  
  .reset-password-box h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
  }
  
  .reset-password-box .form-group {
    margin-bottom: 20px;
  }
  
  .reset-password-box .submit-button {
    width: 100%;
  }
  
  .reset-password-box .alert {
    margin-bottom: 20px;
  }
  