.multi-line-text {
    white-space: pre-wrap; /* or white-space: pre-line */
    white-space: pre-line;
  }

  .card-title {
    height: 3rem; /* Adjust the height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  

  .job-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .multi-line-text {
    text-align: justify;
  }
  
  .justify-center {
    text-align: justify;
  }
  