.content {
  padding-top: 80px;
}

.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.floating-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ff0000;
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  opacity: 0;
  z-index: 9999;
  animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.75;
  }
}